@import url(../lib/main-root.css);
/* this file has all the style needed for the responsive images */

/* for responsive image */
.img-res {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}


/* for round images  */
/* rnd image container */
.img-rnd-container {
  aspect-ratio: var(--aspect-ratio-sqr);
  overflow: hidden;
  border-radius: var(--border-circle);
}

/* round image */
.img-rnd {
  width: 100%;
  height: 100%;

}

/* centering the images */
.img-center {
  margin: auto;
}